# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de Runtime
pids
*.pid
*.seed
*.pid.lock

# Diretório de bibliotecas instrumentadas gerado por jscoverage/JSCover
lib-cov

# Diretório de Cobertura usado por ferramentas como istanbul
coverage

# nyc test coverage
.nyc_output

# Diretório de dependência do Bower
bower_components

# node-waf configuration
.lock-wscript

# Addons binários compilados
build/Release

# Diretório de dependências
node_modules/

# TypeScript v1 declaration files
typings/

# Cache do npm opcional
.npm

# Cache do eslint opcional
.eslintcache

# Histórico do REPL opcional
.node_repl_history

# Output do 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Arquivo de variáveis de ambiente
.env

# Ignore IDE e arquivos de editor
*.swp
*.swo
*.swn
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore arquivos gerados pelo sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
